<div class="container">


    <h1>Welcome to {{title}}!</h1>
    <img src="{{path}}" alt="pokeball" width="200px" height="200px"/>
    <h4><a href="/pokedex/">Enter PokeDex</a></h4>

    <div class="container rounded-4 bg-danger shadow-4 d-flex justify-content-center align-items-center">
        <div class="d-flex rounded-4 shadow-4 flex-wrap bg-dark-subtle justify-content-around mx-4 my-5 px-4">
            {{#each cards}}
                <div class="card d-flex justify-content-center align-items-center bg-light-subtle rounded-4 shadow-4 col-2 mx-3 my-5 text-dark">
                    <img src="{{pokesprite}}" alt="{{pokename}}"/>
                    <p>Name: {{pokename}}</p>
                    <p>ID: {{pokeid}}</p>
                    <p>Generation: {{pokegen}}</p>
                    <div class="d-flex justify-content-center align-items-center">

                        <p class="text-center col-1p-1">Type 1: {{poketype1}}</p>
                        {{#if multitype}}
                            <p class="text-center p-1">Type 2: {{poketype2}}</p>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>

    </div>
</div>
