<nav class="navbar navbar-expand-lg bg-danger col-12" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://pngimg.com/uploads/pokeball/pokeball_PNG21.png"
                                              alt="Master Ball" width="50px" height="50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">


        <h1>Welcome to {{title}}!</h1>
        <img src="{{path}}" alt="pokeball" width="200px" height="200px"/>
        <h4><a href="/pokedex/">Enter PokeDex</a></h4>

    <div class="container rounded bg-danger-subtle shadow d-flex justify-content-center align-items-center">
        <div class="container bg-info">
            <div class="d-flex flex-wrap bg-dark justify-content-around">
                {{#each cards}}
                    <div class="card_container">
                    <div class="card">
                        <div class="top_row">
                            <div class="poke_number">
                                <div class="num_circle">{{pokeId}}</div>
                            </div>
                            <div class="poke_name">{{pokeName}}</div>
                        </div>
                        <div class="poke_img">{{pokeImg}}div>
                            <div class="type_row">
                            <div class="poke_type t1">{{type1}}</div>
                                {{#if multiType}}
                                    <div class="poke_type t2">{{type2}}</div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
<!--                    <div class="card bg-dark-subtle col-5">-->
<!--                        <img src="{{pokeimg}}" alt="sprite" />-->
<!--                        <p>Name: {{pokename}}</p>-->
<!--                        <p>ID: {{pokeid}}</p>-->
<!--                        <p>Base Experience: {{pokeexp}}</p>-->
<!--                    </div>-->
                {{/each}}
            </div>
        </div>
    </div>
</div>
