<nav class="navbar navbar-expand-lg bg-danger col-12" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://pngimg.com/uploads/pokeball/pokeball_PNG21.png"
                                              alt="Master Ball" width="50px" height="50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">


    <h1>Welcome to {{title}}!</h1>
    <img src="{{path}}" alt="pokeball" width="200px" height="200px"/>
    <h4><a href="/pokedex/">Enter PokeDex</a></h4>

    <div class="container rounded-4 bg-danger shadow-4 d-flex justify-content-center align-items-center">
        <div class="d-flex rounded-4 shadow-4 flex-wrap bg-dark-subtle justify-content-around mx-4 my-5 px-4">
            {{#each cards}}
                <div class="card d-flex justify-content-center align-items-center bg-light-subtle rounded-4 shadow-4 col-2 mx-3 my-5 text-dark">
                    <img src="{{pokesprite}}" alt="{{pokename}}"/>
                    <p>Name: {{pokename}}</p>
                    <p>ID: {{pokeid}}</p>
                    <p>Generation: {{pokegen}}</p>
                    <div class="d-flex justify-content-center align-items-center">

                        <p class="text-center col-1p-1">Type 1: {{poketype1}}</p>
                        {{#if multitype}}
                            <p class="text-center p-1">Type 2: {{poketype2}}</p>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>

    </div>
</div>
